# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

.venv

# IDEs
.idea/
.vscode/

# OS generated
.DS_Store
Thumbs.db
thinkrl.egg-info/dependency_links.txt
thinkrl.egg-info/entry_points.txt
thinkrl.egg-info/PKG-INFO
thinkrl.egg-info/requires.txt
thinkrl.egg-info/SOURCES.txt
thinkrl.egg-info/top_level.txt
.coverage

thinkrl